<div class="flex pl-2 md:pl-6 md:pr-6 mt-4 text-slate-950 font-light text-base">
  <p>Folders</p>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-1 p-2 md:p-6">

  <!-- Folders -->
  @for(folder of folders; track $index) {
    <div (click)="openFolderPath(folder.folderPath)"
    class="flex flex-row items-center gap-2 bg-white p-2 rounded-md cursor-pointerhover:bg-slate-300 cursor-pointer
    hover:bg-slate-200 transition-colors ease-in duration-75
    ">
      <img src="icons/icon-folder-outline.svg" class="h-[18px]"/>
      <p class="overflow-hidden truncate">{{folder.folderName}}</p>
    </div>
  } @empty {
  }

</div>
