<div class="flex flex-col gap-2 mt-4 w-screen text-slate-950 font-light text-base p-2 md:p-[5%] md:pt-2">

  <div class="flex justify-between items-end">
    <p>Files</p>
    <div (click)="toggleMultiSelect()" class="flex gap-2 items-center p-1 pr-3 pl-3 rounded-md bg-blue-400 cursor-pointer hover:bg-blue-500">
      <img class="h-[18px]" src="/icons/icon-select-outline.svg" alt="[]" />
      <p class="text-sm text-white font-medium">Select</p>
    </div>
  </div>
  
  <div *ngIf="isMultiSelectOpen" class="flex justify-between items-center bg-white rounded-md shadow-md shadow-black/50 sticky top-2 p-2 text-sm font-medium z-10">
    <div class="flex items-center gap-2">

      <div (click)="resetFileSelection()" class="flex items-center gap-1 border-2 border-slate-200 hover:bg-slate-100 p-1 pr-2 pl-2 rounded-full cursor-pointer">
        <img class="h-[15px]" src="/icons/icon-exit-black-outline.svg" alt="[]" />
        <p>{{selectedFiles.length}} selected</p>
      </div>
      <div (click)="addAllToSelection()" class="flex items-center gap-2 border-2 border-slate-200 hover:bg-slate-100 p-1 pr-2 pl-2 rounded-full cursor-pointer">
        <p>Select All</p>
      </div>
      
    </div>
    <div (click)="toggleMultiSelectOptions()" class="relative flex items-center gap-2 hover:bg-slate-100 p-2 rounded-md cursor-pointer">
      <img class="h-[15px]" src="/icons/icon-info-black-outline.svg" alt="[]" />

      <!-- Multi select options -->
       <div *ngIf="isMultiSelectOptionsOpen" class="flex flex-col absolute top-8 right-0 rounded-md bg-white shadow-md shadow-black/50 p-2 
       cursor-default w-screen max-w-[175px] text-sm font-normal">
       <button (click)="downloadFileSelection()" class="flex gap-2 items-center p-2 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-upload-black-outline.svg" />
          <span>Download Files</span>
        </button>
        <button (click)="moveFileModal()" class="flex gap-2 items-center p-2 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-transfer-black-outline.svg" />
          <span>Move Files</span>
        </button>
        <button (click)="deleteFileModal()" class="flex gap-2 items-center p-2 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-exit-black-outline.svg" />
          <span>Delete Files</span>
        </button>
       </div>
    </div>
  </div>

  <div class="flex flex-wrap mt-2 w-full
  gap-[0.1rem] place-self-center"
  >
      @for(file of files; track $index) {
        <div [ngClass]="file.fileType === 'image' ? 
        'relative flex-auto max-w-[180px] md:max-w-[250px] overflow-hidden cursor-pointer' : 
        'relative flex-auto w-[125px] overflow-hidden cursor-pointer'" 
        (click)="!isMultiSelectOpen ? openShowFullFile(file, $index) : addFileToSelection($index)">

          @if(file.fileType === "image") {
          <img
            loading="lazy"
            class="object-cover rounded-md min-w-[100px] h-[120px] md:h-[150px] w-full"
            src="{{this.filesService.getCompressedImage(file.fileName)}}"
            alt="{{file.fileName}}"
            priority
          />
          }
          @else if (file.fileType === "video") {
            <div class="flex flex-col justify-center rounded-md h-[120px] md:h-[150px] w-full p-1 bg-white">
              <img
              loading="lazy"
              class="h-[80px] self-center"
              src="/pictures/icon-video-outline.png"
              alt="{{file.fileName}}"
              priority
              />
              <p class="overflow-hidden truncate text-center">{{file.fileName}}</p>
            </div>
          }
          @else {
            <div class="flex flex-col justify-center rounded-md h-[120px] md:h-[150px] w-full p-1 bg-white">
              <img
              loading="lazy"
              class="h-[80px] self-center"
              src="/pictures/icon-document-outline.png"
              alt="{{file.fileName}}"
              priority
              />
              <p class="overflow-hidden truncate text-center">{{file.fileName}}</p>
            </div>
          }

          <!-- If file is selected in multiselect, then show selection -->
           <div *ngIf="selectedFiles.includes($index)" class="absolute top-1 right-1">
            <div class="rounded-full p-1 border-2 border-white bg-blue-500">
              <img class="h-[15px] text-white" src="/icons/icon-checkmark-outline.svg" alt="[]" />
            </div>
           </div>

        </div>
      } @empty {
        <p class="text-center w-screen pt-4 text-cyan-950 font-light">No Files Found!</p>
      }
  </div>  
</div>

<ng-template #deleteFileTemplate>
  <div class="flex justify-end gap-3 pt-8">
    <button (click)="closeModal()" class="bg-gray-300 p-1 px-2 rounded-md">Close</button>
    <button (click)="deleteFileSelection()" class="bg-red-500 text-white p-1 px-2 rounded-md">Delete</button>
  </div>
</ng-template>

<ng-template #moveFileTemplate>
  <app-movefileform [file]="this.getFilesFromIndex()" (formSubmit)="moveFileSubmitted()" (closeForm)="closeModal()" />
</ng-template>

<!-- Toggles -->
<app-showfullfile *ngIf="isShowFullFileOpen" (closeShowFullFile)="closeShowFullFile()" (changeShowFullFile)="changeShowFullFile($event)" [file]="this.fullFile"></app-showfullfile>