<div class="grid place-items-center bg-slate-50 w-screen pt-4 pb-4">
  <div class="flex-col justify-center space-y-4 m-2">
    @if (photos$ | async; as photos) {
      @if (photos.length > 0) {
        @for (item of photos; track $index) {
          <div class="flex-col bg-slate-100 border-2 border-slate-200 drop-shadow-md rounded-[1em] overflow-hidden">
            <img
              class="object-contain object-center w-full max-h-[300px]"
              src="https://localhost:7160/api/Photos/GetPhotoFile/{{item.fileName}}"
              alt="nature image"
            />
            <p class="p-2 bg-slate-300 text-cyan-950 font-semibold">{{item.fileName}}</p>
            <p class="p-2 bg-slate-300 text-cyan-900 font-medium">{{item.fileLength / 1024 / 1024| number: "1.0-2"}} mb</p>
          </div>
        }
      }
      @else {
        <p>No photos found</p>
      }
    }
  </div>
</div>