<header>
  <div class="flex gap-2 items-center justify-start w-screen">
    <!-- Dropdown and toggle button items -->
    <div class="relative">
      <div (click)="toggleDropdown()" class="p-3 cursor-pointer
      transition-background ease-in duration-150 bg-none hover:bg-slate-200
      ">
        <img class="h-[18px]" src="/icons/icon-menu-outline.svg" alt="[]" />
      </div>

      <div *ngIf="isDropdownOpen" class="absolute w-screen max-w-[300px]
      bg-white rounded-r-md shadow-xl shadow-black/60 cursor-default z-20 [&>:not(:last-child)]:border-b-[1px] [&>:not(:first-child)]:py-3">

      <div class="flex items-center gap-2 p-3 bg-slate-200 rounded-tr-md">
        <img src="favicon.ico" class="h-10" />
        <p class="text-base text-gray-950">My Web Storage</p>
      </div>
        
        <!-- Functions -->
         <div class="flex flex-col gap-1 p-1 [&>button]:h-[40px] [&>button]:p-2">
          <button (click)="addFilesModal()" class="flex gap-2 items-center
          p-4 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
            <img class="max-h-[25px]" src="/icons/icon-fileupload-outline.svg" />
            <span class="text-slate-900 text-sm">Upload Files</span>
          </button>
          <button (click)="addFolderModal()" class="flex gap-2 items-center
          p-4 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
            <img class="max-h-[25px]" src="/icons/icon-folderupload-outline.svg" />
            <span class="text-slate-900 text-sm">Add Folder</span>
          </button>
        </div>

        <!-- Stats -->
        <div class="flex flex-col gap-1 p-1 [&>button]:h-[40px] [&>button]:p-2">
          <button class="flex gap-2 items-center
          p-4 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
            <img class="max-h-[25px]" src="/icons/icon-server-outline.svg" />
            <span class="text-slate-900 text-sm">Server Info</span>
          </button>
        </div>

        <!-- Signout -->
        <div class="flex flex-col gap-1 p-1 [&>button]:h-[40px] [&>button]:p-2">
          <button (click)="this.authService.deleteLocalToken()" class="flex gap-2 items-center
          p-4 hover:bg-slate-200 rounded-md transition-colors ease-in duration-75">
            <img class="max-h-[25px]" src="/icons/icon-signout-outline.svg" />
            <span class="text-slate-900 text-sm">Sign Out</span>
          </button>
        </div>

      </div>
    </div>
    <div class="text-slate-800 font-semibold text-sm">
      <p>My Web Storage</p>
    </div>
  </div>

</header>

<ng-template #addFilesTemplate>
  <app-addfilesform (closeForm)="closeModal()" />
</ng-template>

<ng-template #addFolderTemplate>
  <app-addfolderform (closeForm)="closeModal()" />
</ng-template>
