<div class="absolute inset-0 z-30">
  <div class="flex flex-col h-screen bg-zinc-900 overflow-y-scroll">
    <!-- Controls -->
    <div class="flex justify-between w-full bg-zinc-800 text-white p-3">
      <div class="flex gap-2">
        <div (click)="toggleShowFileFunctions()" class="p-2 rounded-md hover:bg-zinc-700 cursor-pointer transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-info-outline.svg" />
          
          <!-- File Functions Dropdown -->
          <div *ngIf="showFileFunctions" class="absolute bg-zinc-600 top-[60px] left-[0] w-screen max-w-[300px] cursor-default">
            <div class="flex flex-col gap-2 z-[32]">
              @if (this.file !== null) {
                <div class="flex justify-end cursor-pointer p-5 pb-0">
                  <img class="h-[20px]" src="/icons/icon-exit-outline.svg" />
                </div>
                <div (click)="downloadFile()" class="flex items-center gap-2 p-5 hover:bg-zinc-500 cursor-pointer transition-colors ease-in duration-75">
                  <img class="h-[25px]" src="/icons/icon-upload-outline.svg" />
                  <p class="font-semibold">Download File</p>
                </div>
                <div (click)="moveFile()" class="flex items-center gap-2 p-5 hover:bg-zinc-500 cursor-pointer transition-colors ease-in duration-75">
                  <img class="h-[25px]" src="/icons/icon-transfer-outline.svg" />
                  <p class="font-semibold">Move File</p>
                </div>
                <div (click)="deleteFile()" class="flex items-center gap-2 p-5 hover:bg-zinc-500 cursor-pointer transition-colors ease-in duration-75">
                  <img class="h-[25px]" src="/icons/icon-exit-outline.svg" />
                  <p class="font-semibold">Delete File</p>
                </div>
              }
              @else {
                <p>Failed to retrieve file details</p>
              }
            </div>
          </div>
        </div>
        <div (click)="toggleShowFileDetail()" class="relative p-2 rounded-md hover:bg-zinc-700 cursor-pointer transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-details-outline.svg" />

            <!-- File Details Dropdown -->
            <div *ngIf="showFileDetails" class="absolute bg-zinc-600 top-[48px] left-[-56px] w-screen max-w-[400px] cursor-default">
              <div class="flex flex-col gap-1 p-5">
                @if (this.file !== null) {
                  <div class="flex justify-between gap-2">
                    <p class="font-bold">{{file.fileName}}</p>
                    <img class="h-[20px] cursor-pointer" src="/icons/icon-exit-outline.svg" />
                  </div>
                  <p class="font-light mb-2">{{file.fileDirectoryName}}</p>
                  <p class="font-bold">Size</p>
                  <p class="font-light">{{convertFileLength(file.fileLength, 1)}}</p>
                  <p class="font-bold">Taken</p>
                  <p class="font-light">{{fileCreationDate?.toLocaleDateString()}}, {{fileCreationDate?.toLocaleTimeString('en-US', timeOptions)}}</p>
                }
                @else {
                  <p>Failed to retrieve file details</p>
                }
  
              </div>
            </div>
        </div>
      </div>
      <div (click)="this.toggleShowFullFile()" class="p-2 rounded-md hover:bg-zinc-700 cursor-pointer transition-colors ease-in duration-75">
        <img class="h-[20px]" src="/icons/icon-exit-outline.svg" />
      </div>
    </div>
    <!-- Image -->
     <div class="my-auto mx-auto p-1 md:p-4 lg:p-6 pt-4 pb-4">
      @if (file !== null) {
        @if(file.fileType === "image") {
          <img
            class="object-contain max-h-[700px]"
            src="{{filesService.getCompressedImage(file.fileName)}}"
            alt="{{file.fileName}}"
            priority
          />
        }
      }
      @else {
        <p>Failed to retrieve file</p>
      }
     </div>
  </div>
</div>