<div class="absolute inset-0 z-30">
  <div class="flex flex-col h-screen bg-zinc-900 overflow-y-scroll no-scrollbar">
    <!-- Controls -->
    <div class="flex justify-between w-full bg-zinc-800 text-white p-3">
      <div class="flex gap-2 z-[31]">
        <div (click)="toggleShowFileFunctions()" class="p-2 rounded-md hover:bg-zinc-700 cursor-pointer transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-info-outline.svg" />
          
          <!-- File Functions Dropdown -->
          <div *ngIf="showFileFunctions" class="absolute bg-zinc-600 top-[60px] left-[0] w-screen max-w-[250px] cursor-default">
            <div class="flex flex-col gap-2 p-2 pb-4 sm:text-sm z-[32]">
              @if (this.file !== null) {
                <div class="flex justify-end cursor-pointer p-2 pb-0 rounded-md">
                  <img class="h-[20px]" src="/icons/icon-exit-outline.svg" />
                </div>
                <div (click)="downloadFile()" class="flex items-center gap-2 p-3 rounded-md hover:bg-zinc-500 cursor-pointer transition-colors ease-in duration-75">
                  <img class="h-[20px]" src="/icons/icon-upload-outline.svg" />
                  <p class="font-semibold">Download File</p>
                </div>
                <div (click)="moveFileModal()" class="flex items-center gap-2 p-3 rounded-md hover:bg-zinc-500 cursor-pointer transition-colors ease-in duration-75">
                  <img class="h-[20px]" src="/icons/icon-transfer-outline.svg" />
                  <p class="font-semibold">Move File</p>
                </div>
                <div (click)="deleteFileModal()" class="flex items-center gap-2 p-3 rounded-md hover:bg-zinc-500 cursor-pointer transition-colors ease-in duration-75">
                  <img class="h-[20px]" src="/icons/icon-exit-outline.svg" />
                  <p class="font-semibold">Delete File</p>
                </div>
              }
              @else {
                <p>Failed to retrieve file details</p>
              }
            </div>
          </div>
        </div>
        <div (click)="toggleShowFileDetail()" class="relative p-2 rounded-md hover:bg-zinc-700 cursor-pointer transition-colors ease-in duration-75">
          <img class="h-[20px]" src="/icons/icon-details-outline.svg" />

            <!-- File Details Dropdown -->
            <div *ngIf="showFileDetails" class="absolute bg-zinc-600 top-[48px] left-[-56px] w-screen max-w-[300px] cursor-default">
              <div class="flex flex-col gap-1 p-5 sm:text-sm">
                @if (this.file !== null) {
                  <div class="flex justify-between gap-2">
                    <p class="font-bold">{{file.fileName}}</p>
                    <img class="h-[20px] cursor-pointer" src="/icons/icon-exit-outline.svg" />
                  </div>
                  <p class="font-light mb-2">{{file.fileDirectoryName}}</p>
                  <p class="font-bold">Size</p>
                  <p class="font-light">{{convertFileLength(file.fileLength, 1)}}</p>
                  <p class="font-bold">Taken</p>
                  <p class="font-light">{{fileCreationDate?.toLocaleDateString()}}, {{fileCreationDate?.toLocaleTimeString('en-US', timeOptions)}}</p>
                }
                @else {
                  <p>Failed to retrieve file details</p>
                }
  
              </div>
            </div>
        </div>
      </div>
      <div (click)="this.toggleShowFullFile()" class="p-2 rounded-md hover:bg-zinc-700 cursor-pointer transition-colors ease-in duration-75 z-[31]">
        <img class="h-[20px]" src="/icons/icon-exit-outline.svg" />
      </div>
    </div>
    <!-- Image -->
     <div class="my-auto mx-auto p-1 md:p-4 lg:p-6 pt-4 pb-4">
      @if (file !== null) {
        @if(file.fileType === "image") {
          <img
            class="object-contain max-h-[700px]"
            src="{{filesService.getCompressedImage(file.fileName)}}"
            alt="{{file.fileName}}"
            priority
          />
        }

        <!-- Navigate Files Controls -->
          <div>

            <div class="absolute top-0 start-0 flex items-center justify-center h-full px-2 md:px-4 lg:px-[20%]" (focus)="true">
              <button (click)="changeFile(-1)" class="bg-white/40 rounded-full p-4 hover:bg-white/50">
                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
              </button>
            </div>

            <div class="absolute top-0 end-0 flex items-center justify-center h-full px-2 md:px-4 lg:px-[20%]" (focus)="true">
              <button (click)="changeFile(1)" class="bg-white/40 rounded-full p-4 hover:bg-white/50">
                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
              </button>
            </div>

        </div>
      }
      @else {
        <p>Failed to retrieve file</p>
      }
     </div>
  </div>
</div>

<ng-template #deleteFileTemplate>
  <div class="flex justify-end gap-3 pt-8">
    <button (click)="closeModal()" class="bg-gray-300 p-1 px-2 rounded-md">Close</button>
    <button (click)="deleteFile()" class="bg-red-500 text-white p-1 px-2 rounded-md">Delete</button>
  </div>
</ng-template>

<ng-template #moveFileTemplate>
  <app-movefileform [file]="[this.file]" (formSubmit)="moveFileSubmitted()" (closeForm)="closeModal()" />
</ng-template>