<div class="flex justify-center absolute inset-0 bg-black/60 z-20">
  <div class="flex flex-col relative bg-white h-fit w-screen md:max-w-[600px] m-2 md:m-16 p-4 rounded-md shadow-lg shadow-black/50">
    <p class="text-slate-800 font-medium text-lg">Select your files to upload into</p>
    <p class="text-slate-500 font-normal text-base">{{ this.currentPath }}</p>
    <form [formGroup]="filesForm" (ngSubmit)="submitFiles()" class="flex flex-col mt-6">
      <!-- Errors -->
      <div *ngIf="this.errorMessage !== ''" class="text-red-700 bg-red-200 mb-1 p-2 text-sm">
        {{ this.errorMessage }}
      </div>

      <!-- Successful uploads -->
      <div *ngIf="this.errorMessageSuccessfulFiles.length > 0" class="flex flex-col gap-1 text-blue-900 bg-blue-100 mb-2 p-2 text-sm">
        <p class="text-base">Files that were successfully uploaded</p>
        @for (file of errorMessageSuccessfulFiles; track $index) {
          <p>{{ file }}</p>
        }
      </div>

      <label for="files" class="sr-only">Choose files</label>
      <input type="file" name="file-input" id="files" (change)="onFileSelect($event)" enctype="multipart/form-data" multiple
      class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm
      file:cursor-pointer hover:file:bg-blue-300 file:transition-colors ease-in duration-75 font-light file:font-normal
      file:bg-slate-300 file:border-0 file:me-4 file:p-2 file:px-4>"
      >

      <button type="sumbit" [disabled]="!filesForm.valid" *ngIf="!postFilesLoading"
      class="primary bg-blue-200 hover:bg-blue-300 w-full rounded-md p-2 mt-20 transition-colors ease-in duration-75 cursor-pointer
      "><span class="text-slate-700 font-semibold text-base">Upload Files</span></button>
      <button type="button" class="flex justify-center gap-1 bg-blue-400 w-full rounded-md p-2 mt-12"  *ngIf="postFilesLoading" disabled>
        <svg class="mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <p class="text-white font-bold text-base">Processing</p>
      </button>
      
      <button (click)="toggleAddFiles()" type="button" *ngIf="!postFilesLoading"
      class="bg-slate-200 hover:bg-slate-300 w-full rounded-md p-2 mt-2 transition-colors ease-in duration-75
      "><span class="text-slate-950 font-normal text-base">Back</span></button>
    </form>
  </div>
</div>